:root {
    /* #COLORS */
    --Yellow: hsl(47, 88%, 63%);

    /* ### Neutral */
    
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    
    /* ## Typography */
   
  }


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 16px;
    background-color: var(--Yellow);
    font-family: "Figtree";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#card {
    width: 18rem;
    height: 29rem;
    background-color: var(--White);
    margin: 10rem auto;
    border-radius: 1rem;
    padding: 1.7rem;
    box-shadow: 10px 6px 6px black;

}

#upper-card {
    height: 13em;
    width: 17.8rem;
    background-color: black;
    margin: auto;
    border-radius: 1rem;
    background-image: url(/assets/images/illustration-article.svg);
    background-size:cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
#button-learn {
    padding: 0.5rem;
    background-color: var(--Yellow);
    width: 4rem;
    margin: 1.6rem 0rem 1rem 0rem;
    border-radius: 0.4rem;
    font-family: "Figtree";
    font-size: 0.85rem;
    text-align: center;
}
#button-learn:hover {
    cursor: pointer;
}
#date {
    font-size: 0.8rem;
}
#foundations {
    margin-top: 1.35rem;
    font-size: 1.3rem;
}
main p {
    margin-top: 1rem;
    font-family:sans-serif, Times, serif;
    font-size: 0.85rem;
    line-height: 1.3rem;
    font-weight: lighter;
    word-spacing: 0.01rem;
    letter-spacing: 0.04rem;
}
#image-block {
    display: flex;

}
footer img {
     margin-top: 1rem;
     width: 2.2rem;
     text-align: center;
}
footer img:hover {
cursor: pointer;
width: 2.3rem;
}
footer p {
    margin-top: 1.7rem;
    margin-left: 0.8rem;
    font-size: 0.95rem;
}